@using System.Globalization;
@model Repositories.Models.Common.PropertyDetails
@{
    ViewBag.Title = "PropertieDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .galleria-lightbox-prev {
        font: bold 30px/40px arial,sans-serif !important;
    }

    .galleria-lightbox-next {
        font: bold 30px/40px arial,sans-serif !important;
    }

    .galleria-thumbnails-list {
        margin: 11px 0 0 48px;
    }

    .ct_tags {
        width: 90px;
        float: left;
        font-weight: 400;
    }

    .bs-example {
        margin-top: 0px !important;
    }

    .galleria-theme-classic {
        width: auto !important;
    }

    .mortgage_details {
        margin-bottom: 20px;
    }

        .mortgage_details h3 {
            padding: 0;
            margin: 0 0 15px 0;
            font-size: 14px;
            color: #000;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

    .mortgage_box {
        background-color: #dddddd;
        border: 1px solid #969696;
        padding: 7px 0;
        border-radius: 10px;
    }

        .mortgage_box ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .mortgage_box ul li {
                font-size: 13px;
                color: #000;
                text-align: center;
                float: left;
                padding: 0 10px;
                border-right: 1px solid #fff;
            }

                .mortgage_box ul li:last-child {
                    border-right: 0px solid #fff;
                }

    .pro_lists {
        font-family: 'PT Sans', sans-serif;
    }

        .pro_lists ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .pro_lists ul li {
                font-size: 14px;
                color: #828080;
                padding: 15px 10px;
                border-bottom: 1px solid #dddddd;
                line-height: normal;
            }

                .pro_lists ul li img {
                    margin-top: -3px;
                }
</style>



<script type="text/javascript">
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }
    $(function () {
        $('#btnSendMessage').click(function (e) {
            var name = $('#txtName').val();
            var email = $('#txtEmail').val();
            var phone = $('#txtPhone').val();
            var subject = $('#agent_contact_subject').val();
            var message = $('#txtMessage').val();
            var mlsNumber = GetParameterValues("mlsNumber");
            var brokerMail = $('#brokerEmail').data("brokermail");
            var command = GetParameterValues("Command");
            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            var numbers = /^[0-9]+$/;
            var validResult = false;

            if (name) {
                validResult = true;
                jQuery("label[for='myalue']").html("");
            } else {
                validResult = false;
                jQuery("label[for='myalue']").html("Please enter name.");
                $('#txtName').focus();
                return;
            }

            if (mailformat.test(email)) {
                validResult = true;
                jQuery("label[for='myalue']").html("");
            } else {
                validResult = false;
                jQuery("label[for='myalue']").html("Please enter valid email.");
                $('#txtEmail').focus();
                return;
            }

            if (numbers.test(phone)) {
                validResult = true;
                jQuery("label[for='myalue']").html("");
            } else {
                validResult = false;
                jQuery("label[for='myalue']").html("Please enter valid phone no.");
                $('#txtPhone').focus();
                return;
            }

            if (subject) {
                validResult = true;
                jQuery("label[for='myalue']").html("");
            } else {
                validResult = false;
                jQuery("label[for='myalue']").html("Please enter subject.");
                $('#agent_contact_subject').focus();
                return;
            }

            if (message) {
                validResult = true;
                jQuery("label[for='myalue']").html("");
            } else {
                validResult = false;
                jQuery("label[for='myalue']").html("Please enter message.");
                $('#txtMessage').focus();
                return;
            }
            if (validResult == true) {
                var url = '@Url.Action("SendMessage", "Index")' + '?Name=' + name + '&Email=' + email + '&Phone=' + phone + '&MlsNumber=' + mlsNumber + '&Message=' + message + '&Subject=' + subject + '&BrokerMail=' + brokerMail + '&Command=' + command;
                $.ajax({
                    url: url, success: function (result) {
                        if (result) {
                            jQuery("label[for='myalue']").html("Your request is confirmed.");
                        } else {
                            jQuery("label[for='myalue']").html("Please try again!");
                        }
                    }
                });
            }
        });
    });

</script>

<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/galleria.classic.css" rel="stylesheet" />
<link href="~/Content/css/custom.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
@using (Html.BeginForm())
{
    <div class="container">

        <div class="col-lg-8">

            <div class="pro_dtls-list">
                <ul>
                    <li>
                        @Model.FullStreetAddress<span>@Model.City,@Model.StateOrProvince,@Model.PostalCode</span>
                    </li>
                    <li>
                        $@Model.ListPrice.ToString("#,##,##0")<span>Price</span>
                    </li>
                    <li>
                        @Model.Bedrooms <span>Bed</span>
                    </li>
                    <li>
                        @Model.Bathrooms <span> Baths</span>
                    </li>
                    <li>
                        @Model.LivingArea.ToString("#,##,##0") Sq Ft
                        @if (Model.ListPrice > 0 && Model.LivingArea > 0)
                        {
                            <span>@{var a = Model.ListPrice / Model.LivingArea;} $@a.ToString("#,##,##0")/Sq.Ft</span>
                        }

                    </li>

                </ul>
            </div>

            <div class="clear"></div>

            <div style="border: 1px solid #dddddd;">
                <div id="galleria">
                    @if (Model.Photos != null)
                    {
                        foreach (var item in Model.Photos)
                        {
                            <a href=@(item == null ? "~/Content/image/listing_thumb.jpg" : item)>
                                <img src=@(item == null ? "~/Content/image/listing_thumb.jpg" : item)
                                     data-big=@(item == null ? "~/Content/image/listing_thumb.jpg" : item)
                                     data-description="@(string.IsNullOrEmpty(Model.PropertyType) ? "" : Model.PropertyType)" />
                            </a>
                        }
                    }
                    else
                    {
                        <a href="~/Content/image/listing_thumb.jpg">
                            <img src="~/Content/image/listing_thumb.jpg"
                                 data-big="~/Content/image/listing_thumb.jpg"
                                 data-title="Biandintz eta zaldiak"
                                 data-description="@(string.IsNullOrEmpty(Model.PropertyType) ? "" : Model.PropertyType)" />
                        </a>
                    }
                </div>

                <div class="clear"></div>
                <div class="show_map-street">
                    <ul>
                        <li><a href="#" onclick="GalleriaSetUp('galleria'); return false;">Photos</a></li>
                        @if (Model.GeoPoint != null)
                        {
                            <li><a href="#" onclick="ShowMapView('galleria', '@Model.GeoPoint.Coordinates[1]', '@Model.GeoPoint.Coordinates[0]','road'); return false;">Map</a></li>
                            <li><a href="#" onclick="ShowMapView('galleria', '@Model.GeoPoint.Coordinates[1]', '@Model.GeoPoint.Coordinates[0]','birdeye'); return false;">Street</a></li>
                        }
                    </ul>

                </div>
                <div class="clear"></div>
                <div class="social_conn">
                    <span class="follow_social">Share this property :-</span>
                    <span class='st_facebook' displaytext='Facebook'></span>
                    <span class='st_twitter' displaytext='Tweet'></span>
                    <span class='st_pinterest' displaytext='Pinterest'></span>
                    <span class='st_googleplus' displaytext='Google +'></span>
                    <span class='st_instagram' displaytext='Instagram'></span>
                    <span class='st_email' displaytext='Email'></span>
                </div>

            </div>

        </div>



        <div class="col-lg-4">

            <a href="http://www.interest.com/mortgage/rates/?MSA" target="_blank">
                <div class="mortgage_details">
                    <div class="mortgage_box">
                        <h3>Est. Mortgage</h3>
                        <ul>
                            <li><span>Price </span> $@Model.ListPrice.ToString("#,##,##0")</li>
                            <li><span>Down Payment </span> 10 %</li>
                            <li> <span>Mort. Term </span> 30 Yrs</li>
                            <li> <span>Int. Rate </span> 3.9%</li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <a href="http://www.mlcalc.com/#mortgage-@Model.ListPrice-10-30-6.5-3000-1500-0.52-1-2015-year" rel="mlcalc" style="float:right; padding:5px 0 0 0;">See Current Rates</a>
                    <div class="clear"></div>
                </div>
            </a>
            <div class="clear"></div>
            <div class="agent_name_dtls">

                <h2>Tell Me More About This Property</h2>
                <div style="text-align: center; font-size: 14px; line-height: 20px;">
                    <label for="myalue" style="vertical-align: middle; color: red;"></label>
                </div>
                <div class="clear"></div>
                <div class="agent_contact_form ">
                    <ul>
                        <li>
                            <label class="ct_tags">
                                Name <span style="color: #FF0000;">*</span>
                            </label>
                            <input name="txtName" id="txtName" type="text" />
                        </li>
                        <li>
                            <label class="ct_tags">
                                Email <span style="color: #FF0000;">*</span>
                            </label>
                            <input name="txtEmail" id="txtEmail" type="text" />
                        </li>
                        <li>
                            <label class="ct_tags">
                                Phone <span style="color: #FF0000;">*</span>
                            </label>
                            <input name="txtPhone" id="txtPhone" type="text" />
                        </li>
                        <li>
                            <label class="ct_tags">
                                Subject <span style="color: #FF0000;">*</span>
                            </label>
                            <input name="txtSubject" type="text" id="agent_contact_subject" />
                        </li>
                        <li>
                            <label class="ct_tags">
                                Message <span style="color: #FF0000;">*</span>
                            </label>
                            <textarea name="txtMessage" id="txtMessage" cols="" rows="" class="message_txt"></textarea>
                        </li>
                        <li style="text-align:center;">
                            @if (ViewBag.IsFeatured)
                            {
                                <a href="tel:@Model.BrokeragePhone" class="call_bttn">Click to call</a>
                            }
                            <input name="btnSendMessage" id="btnSendMessage" type="button" class="bttn" value="Email Question" />
                        </li>

                    </ul>

                </div>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="new-listing_prov">
            @if (ViewBag.IsFeatured)
            {

                <div class="col-lg-6">
                    <div>
                        <div class="listing_contact_right">
                            <h2>
                                <i class="fa fa-list" style="color:#000; font-size:16px; color:#555;"></i>Listing Provider

                            </h2>
                            @if (!string.IsNullOrEmpty(@Model.LogoImage))
                            {
                                <div class="agent_image"><img style="height: 50px; width: 120px;" src=@Model.LogoImage /></div>
                            }
                            else
                            {
                                <div class="agent_image">
                                    <img src="~/Content/image/agent_img.jpg" alt="agent_img" />

                                </div>
                            }
                            <div class="new_listing_logo"><img src="~/Content/image/add.jpg" /></div>
                        </div>

                    </div>


                    @*<h5 style="color: #969696;">@Model.AgentName</h5>
                        <h5 style="color: #969696;">@Model.AgentEmail</h5>
                        <h5 style="color: #969696;"><a href="@Model.WebsiteUrl" target="_blank">@Model.WebsiteUrl</a></h5>
                        <h5 style="color: #969696;">Office Phone : @ViewBag.OfficePhone</h5>
                        <h5 style="color: #969696;">Mobile : @ViewBag.PrimaryContactPhone</h5>
                        <h5 style="color: #969696;"><a href="@ViewBag.ListPageUrl">Other MLS Listing</a></h5>
                        <h5 style="color: #969696;"><a href="/Index/AgentBio?email=@Model.AgentEmail" target="_blank">Agent Bio</a></h5>*@

                    <div class="new-agent_contact1">
                        <ul>
                            <li><h5>@Model.AgentName</h5></li>
                            <li><img src="~/Content/image/icon_phone.jpg" alt="icon_phone" /> Phone&nbsp;:&nbsp; <span>@ViewBag.OfficePhone</span></li>
                            <li><img src="~/Content/image/icon_phone.jpg" alt="icon_phone" /> Mobile&nbsp;:&nbsp; <span>@ViewBag.PrimaryContactPhone</span></li>
                            <li><img src="~/Content/image/icon_mail_b.jpg" alt="icon_mail_b" />Email&nbsp;:&nbsp; <span id="AgentEmail" data-brokermail="@Model.AgentEmail">@Model.AgentEmail</span></li>
                            @*<li><a href="@Model.WebsiteUrl" target="_blank">@Model.WebsiteUrl</a></li>
                                <li><a href="@ViewBag.ListPageUrl">Other MLS Listing</a></li>
                                <li><a href="/Index/AgentBio?email=@Model.AgentEmail" target="_blank">Agent Bio</a></li>*@
                        </ul>
                    </div>

                </div>


                <div class="col-lg-3">
                    <div class="new-agent_contact">
                        <ul>
                            <li><a href="@Model.WebsiteUrl" target="_blank">@Model.WebsiteUrl</a></li>
                            <li><a href="@ViewBag.ListPageUrl">Other MLS Listing</a></li>
                            <li><a href="/Index/AgentBio?email=@Model.AgentEmail" target="_blank">Agent Bio</a></li>
                        </ul>
                    </div>


                </div>
                @*<div class="col-lg-3"><div class="new_listing_logo"><img src="~/Content/image/add.jpg" /></div></div>*@<div class="col-lg-3"><div class="new_listing_logo"><img src="~/Content/image/add.jpg" /></div></div>
                <div class="clear"></div>

            }
        </div>

        <div class="clear"></div>
        <div style="height:30px;"></div>
        <div class="bs-example">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#sectionA">Overview</a></li>
                <li><a data-toggle="tab" href="#sectionB">Property Details</a></li>
                <li><a data-toggle="tab" href="#sectionC">Schools & Neighborhood</a></li>
                @if (Request.QueryString["Command"] == "SearchHome")
                {
                    <li><a data-toggle="tab" href="#sectionD">House Plans</a></li>
                }
                <li><a data-toggle="tab" href="#sectionE">Map & Amenities</a></li>

            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <div class="agent_pro_contant">
                        <h3>@Model.PropertyType</h3>
                        <p>
                            @Model.ListingDescription
                        </p>

                        <h4> <a href="#">FOR SALE</a> $&nbsp;@Model.ListPrice.ToString("#,##,##0") </h4>
                        <div>
                            <h4>Address Details</h4>
                            <p>
                                Street&nbsp;:&nbsp;@Model.FullStreetAddress
                            </p>
                            <p>
                                City&nbsp;:&nbsp;@Model.City
                            </p>
                            <p>
                                State&nbsp;:&nbsp;@Model.StateOrProvince
                            </p>
                            <p>
                                Postal Code&nbsp;:&nbsp;@Model.PostalCode
                            </p>

                            @if (Model.ClassifiedExpireDate != null)
                            {
                                <p>
                                    AD &nbsp;:&nbsp;#@Model.MlsNumber
                                </p>
                                <p>
                                    IsClassified -  true
                                </p>

                                <p>
                                    Expried At  -  @Model.ClassifiedExpireDate
                                </p>

                            }
                            else
                            {
                                <p>
                                    Mls&nbsp;:&nbsp;#@Model.MlsNumber
                                </p>
                            }



                        </div>
                        <div class="clear"></div>

                        <div class="agent_contact_right" style="float:left;">
                            <h2>
                                <i class="fa fa-list" style="color:#000;"></i>Listing Provider

                            </h2>

                            <div class="agent_image">
                                <img src="~/Content/image/agent_img.jpg" alt="agent_img" />
                            </div>
                            <h5 style="color: #969696;">@Model.BrokerageName</h5>

                        </div>

                        <div class="agent_contact">
                            <div class="social_icons">
                                <ul>
                                    <li> <a href="#"><img src="~/Content/image/fb.png" alt="fb" /></a></li>
                                    <li> <a href="#"><img src="~/Content/image/tweeter.png" alt="tweeter" /></a></li>
                                    <li> <a href="#"><img src="~/Content/image/google.png" alt="google" /></a></li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <ul>
                                <li><img src="~/Content/image/icon_phone.jpg" alt="icon_phone" /> Phone&nbsp;:&nbsp; <span>@Model.OfficePhoneNumber</span></li>
                                <li><img src="~/Content/image/icon_phone.jpg" alt="icon_phone" /> Mobile&nbsp;:&nbsp; <span>@Model.BrokeragePhone</span></li>
                                <li><img src="~/Content/image/icon_mail_b.jpg" alt="icon_mail_b" />Email&nbsp;:&nbsp; <span id="brokerEmail" data-brokermail="@Model.BrokerageEmail">@Model.BrokerageEmail</span></li>
                            </ul>
                        </div>

                        <div class="clear"></div>


                    </div>
                </div>
                <div id="sectionB" class="tab-pane fade">
                    <div class="agent_pro_contant">
                        <h4>General Information</h4>
                        <div class="col-lg-6 pro_lists">
                            <ul>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Beds</strong>&nbsp;:&nbsp;@Model.Bedrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Full Bathroom</strong>&nbsp;:&nbsp;@Model.FullBathrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Three Quarter Bathroom</strong>&nbsp;:&nbsp;@Model.ThreeQuarterBathrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Partial Bathroom</strong>&nbsp;:&nbsp;@Model.PartialBathrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Price</strong>&nbsp;:$&nbsp;@Model.ListPrice.ToString("#,##,##0")</li>
                                <li>
                                    @{
                            string Appliances = null;
                            if (Model.Appliance != null)
                            {
                                foreach (string item in Model.Appliance)
                                {
                                    Appliances = string.IsNullOrEmpty(Appliances) ? @item : Appliances + " , " + @item;
                                }
                            }
                                    }
                                    <img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" />
                                    <strong>Applience</strong>&nbsp;:&nbsp; @(string.IsNullOrEmpty(Appliances) ? "NA" : Appliances);
                                </li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Cooling System</strong>&nbsp;:&nbsp;@(!string.IsNullOrEmpty(Model.CoolingSystem) ? Model.CoolingSystem : "NA")</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Heating System</strong>&nbsp;:&nbsp;@(!string.IsNullOrEmpty(Model.HeatingSystem) ? Model.HeatingSystem : "NA")</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>No Of Floor</strong>&nbsp;:&nbsp;@(!string.IsNullOrEmpty(Convert.ToString(Model.NoOfFloor)) ? Convert.ToString(Model.NoOfFloor) : "NA")</li>
                                <li>
                                    @{
                            string ParkingType = "NA";
                            if (Model.ParkingType != null)
                            {
                                foreach (string item in Model.ParkingType)
                                {
                                    ParkingType = string.IsNullOrEmpty(ParkingType) || ParkingType == "NA" ? @item : ParkingType + " , " + @item;
                                }
                            }
                                    }
                                    <img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" />
                                    <strong>Parking Type</strong>&nbsp;:&nbsp;@ParkingType
                                </li>
                                <li>
                                    @{
                            string Room = "NA";
                            if (Model.Rooms != null)
                            {
                                string[] lst = Model.Rooms.Distinct().ToArray();
                                foreach (string item in lst)
                                {
                                    Room = string.IsNullOrEmpty(Room) || Room == "NA" ? @item : Room + " , " + @item;
                                }
                            }
                                    }
                                    <img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Rooms</strong> &nbsp;:&nbsp;@Room
                                </li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>IsFeatured</strong>&nbsp;:&nbsp;@(Model.IsFeatured ? "Featured" : "No")</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 pro_lists">
                            <ul>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Baths</strong>&nbsp;:&nbsp;@Model.Bathrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Half Bathroom</strong>&nbsp;:&nbsp;@Model.HalfBathrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>One Quarter Bathroom</strong>&nbsp;:&nbsp;@Model.OneQuarterBathrooms</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Lot Size</strong>&nbsp;:&nbsp;@Model.LotSize &nbsp;acre</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Status</strong>&nbsp;:&nbsp;@Model.ListingStatus</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Architecture Style</strong>&nbsp;:&nbsp;@(string.IsNullOrEmpty(Model.ArchitectureStyle) ? "NA" : Model.ArchitectureStyle)</li>
                                <li>
                                    @{
                            string Exterior = "NA";
                            if (Model.ExteriorType != null)
                            {
                                foreach (string item in Model.ExteriorType)
                                {
                                    Exterior = string.IsNullOrEmpty(Exterior) || Exterior == "NA" ? @item : Exterior + " , " + @item;
                                }
                            }
                                    }
                                    <img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" />
                                    <strong>Exterior Type</strong> &nbsp;:&nbsp;@Exterior
                                </li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Is New Construction</strong>&nbsp;:&nbsp;@Model.IsNewConstruction</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>No Of Parking Space</strong>&nbsp;:&nbsp;@(!string.IsNullOrEmpty(Model.NoOfParkingSpace) ? @Model.NoOfParkingSpace : "NA")</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Roof Types</strong> &nbsp;:&nbsp;@(!string.IsNullOrEmpty(Model.RoofTypes) ? @Model.RoofTypes : "NA")</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>Living Area</strong>&nbsp;:&nbsp;@Model.LivingArea.ToString("#,##,##0") Sq Ft</li>
                                <li><img src="~/Content/image/bullet.png" alt="bath" style="margin-right:10px;" /> <strong>IsSpotlight</strong>&nbsp;:&nbsp;@(Model.IsSpotLight ? "SpotLight" : "No")</li>
                            </ul>
                        </div>
                    </div>
                </div>
                @{
                    <div id="sectionC" class="tab-pane fade">
                        <div class="agent_pro_contant">
                            <h3>Provided by Listing Agent</h3>
                            <ul>
                                @{
    if (Model.Schools != null)
    {
        foreach (var item in Model.Schools)
        {
            if (!string.IsNullOrEmpty(@item.Name))
            {
                <li>
                    <p> @item.SchoolCategory &nbsp;School&nbsp;:&nbsp;@item.Name</p>
                </li>
            }
        }
    }
                                }
                            </ul>
                        </div>
                        <div class="agent_pro_contant">
                            <h3>Near by Schools </h3>
                        </div>
                        <div style="margin:0px; padding:0px;">

                            <ul id="schools_tab" class="nav1 nav-pills" style="margin:0px; padding:0px;">
                                <li class="active"><a href="#public_school" data-toggle="pill">Public Elementary Schools</a></li>
                                <li><a href="#menu1" data-toggle="pill">Public Middle Schools</a></li>
                                <li><a href="#menu2" data-toggle="pill">Public High Schools</a></li>
                                <li><a href="#menu3" data-toggle="pill">Private schools</a></li>


                            </ul>
                            <div class="subtab-content">
                                <div id="public_school" class="tab-pane fade in active">


                                    <div class="col-lg-9 schl_tab-contaner" style="margin:0px; padding:0px;">
                                        <table class="table table-striped" id="public_elementary_school_grid">
                                            <thead>
                                                <tr>
                                                    <th class="school_name">School Name</th>
                                                    <th class="distance">Distance</th>
                                                    <th class="grades">Grades</th>
                                                    <th class="stu_tea">Parents Rating*</th>
                                                    <th class="rating">GreatSchools Rating*</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="col-lg-9 schl_tab-contaner" style="margin:0px; padding:0px;">
                                        <table class="table table-striped" id="public_middle_school_grid">
                                            <thead>
                                                <tr>
                                                    <th class="school_name">School Name</th>
                                                    <th class="distance">Distance</th>
                                                    <th class="grades">Grades</th>
                                                    <th class="stu_tea">Parents Rating*</th>
                                                    <th class="rating">GreatSchools Rating*</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="col-lg-9 schl_tab-contaner" style="margin:0px; padding:0px;">
                                        <table class="table table-striped" id="public_high_school_grid">
                                            <thead>
                                                <tr>
                                                    <th class="school_name">School Name</th>
                                                    <th class="distance">Distance</th>
                                                    <th class="grades">Grades</th>
                                                    <th class="stu_tea">Parents Rating*</th>
                                                    <th class="rating">GreatSchools Rating*</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade active">

                                    <div class="col-lg-9 schl_tab-contaner" style="margin:0px; padding:0px;">
                                        <table class="table table-striped" id="private_gradeschool_school">
                                            <thead>
                                                <tr>
                                                    <th class="school_name">School Name</th>
                                                    <th class="distance">Distance</th>
                                                    <th class="grades">Grades</th>
                                                    <th class="stu_tea">Parents Rating*</th>
                                                    <th class="rating">GreatSchools Rating*</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
    if (Request.QueryString["Command"] == "SearchHome")
    {
        <div id="sectionD" class="tab-pane fade">
            <div class="agent_pro_contant">
                <h3>House Plans</h3>
                <ul>
                    @{
        if (!string.IsNullOrEmpty(@Model.PlanViewer))
        {
            <li>
                <p>
                    <a href="#" onclick="OpenPlanViewerDialog()" style="color:blue;">Plan Viewer :</a>
                    <div id="dialogP" style="display:none;" title="@Model.MlsNumber">
                        <iframe frameborder="0" scrolling="no" width="700" height="700" src="@Model.PlanViewer"></iframe>
                    </div>
                </p>
            </li>
        }
        if (!string.IsNullOrEmpty(@Model.VirtualTour))
        {
            <li>
                <p>
                    <a href="#" onclick="OpenVirtualTourDialog()" style="color:blue;">Virtual Tour :</a>
                    <div id="dialogV" style="display:none;" title="@Model.MlsNumber">
                        <iframe frameborder="0" scrolling="no" width="700" height="700" src="@Model.VirtualTour"></iframe>
                    </div>
                </p>
            </li>
        }
        if (!string.IsNullOrEmpty(@Model.ElevationImages))
        {
            <li>
                <p>
                    <a href="#" onclick="OpenElevationImagesDialog()" style="color:blue;">Elevation Image :</a>
                    <div id="dialogE" style="display:none;" title="@Model.MlsNumber">
                        <iframe frameborder="0" scrolling="no" width="700" height="700" src="@Model.ElevationImages"></iframe>
                    </div>
                </p>
            </li>
        }
                    }
                </ul>
            </div>
        </div>
    }
                }
                <div id="sectionE" class="tab-pane fade">
                    <div class="agent_pro_contant">
                        <h4>Near by Aminites</h4>
                        <div id="bing_amenites"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/galleria-1.4.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script src="~/js/utility.js"></script>
<script src="~/js/galleria-property-details.js"></script>
<script src="~/js/aminites-map.js"></script>
<script src="~/js/great-school-api.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        GalleriaSetUp("galleria");
        GetSchools('public_elementary_school_grid', '@ViewBag.MlsNumber', '@Model.StateOrProvince', '@Model.PostalCode', '@Model.FullStreetAddress', '@Model.City', "public", "elementary-schools");
        GetSchools('public_middle_school_grid', '@ViewBag.MlsNumber', '@Model.StateOrProvince', '@Model.PostalCode', '@Model.FullStreetAddress', '@Model.City', "public", "middle-schools");
        GetSchools('public_high_school_grid', '@ViewBag.MlsNumber', '@Model.StateOrProvince', '@Model.PostalCode', '@Model.FullStreetAddress', '@Model.City', "public", "high-schools");
        GetSchools('private_gradeschool_school', '@ViewBag.MlsNumber', '@Model.StateOrProvince', '@Model.PostalCode', '@Model.FullStreetAddress', '@Model.City', "private", "private");

        var geoPt = '@Html.Raw(Json.Encode(Model.GeoPoint))';

        if (geoPt != null) {
            var lat = '@Model.GeoPoint.Coordinates[1]';
            var lon = '@Model.GeoPoint.Coordinates[0]';
            plotAmenitiesMap('@ViewBag.MlsNumber', "", "bing_amenites", '@Model.FullStreetAddress', 2, lat, lon);
        }

        $("#OpenDialog").click(function () {
            $("#dialog").dialog({
                modal: true, resizable: true, draggable: false,
                position: 'center', height: 700, width: 800
            });
        });
    });

</script>
<script type="text/javascript" src="http://cdn.mlcalc.com/widget-api.js"></script>
<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "625d776f-12b4-450c-a148-6c15c382c61e", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
<script type="text/javascript">
    function OpenPlanViewerDialog() {
        var divid = "#dialogP";
        $(divid).dialog({
            modal: true,
            resizable: false,
            draggable: false,
            height: 700,
            width: 800,
            position: "top"
        });
        event.preventDefault();
        return false;
    }
    function OpenVirtualTourDialog() {
        var divid = "#dialogV";
        $(divid).dialog({
            modal: true,
            resizable: false,
            draggable: false,
            height: 700,
            width: 800,
            position: "top"
        });
        event.preventDefault();
        return false;
    }
    function OpenElevationImagesDialog() {
        var divid = "#dialogE";
        $(divid).dialog({
            modal: true,
            resizable: false,
            draggable: false,
            height: 700,
            width: 800,
            position: "top"
        });
        event.preventDefault();
        return false;
    }
</script>
