@{
    Layout = null;
}

<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />
<style type="text/css">
    body {
        margin: 0px;
    }

        body.home, body.sectionfront, body.galleries, body.staff, body.poll-page {
            background: #FFF;
        }

    .drop {
        display: none !important;
    }

    .page-content {
        font-family: Georgia, serif;
        font-size: 1.063em;
        line-height: 1.6em;
    }

    .home_logo {
        margin: -40px 0 0 35%;
        position: absolute;
        float: right;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="/Content/css/bootstrap.css" rel="stylesheet" />
<link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Content/css/style_agent.css" rel="stylesheet" />
<link href="/Content/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="/Content/Widget/jquery.carouFredSel-6.2.1-packed.js"></script>

<script type="text/javascript">
    var url_Start = '@String.Format("{0}://{1}", Request.Url.Scheme, Request.Url.Authority)';
    
    function loadScript(url, callback) {

        var script = document.createElement("script")
        script.type = "text/javascript";

        if (script.readyState) {  //IE
            script.onreadystatechange = function () {
                if (script.readyState == "loaded" ||
                        script.readyState == "complete") {
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {  //Others
            script.onload = function () {
                callback();
            };
        }

        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
    }
    $(function () {
        debugger;

        /*$('head').append("<link href='" + url_Start + "/Content/css/bootstrap.css' rel='stylesheet' />");
        $('head').append("<link href='" + url_Start + "/Content/css/bootstrap.min.css' rel='stylesheet' />");
        $('head').append("<link href='" + url_Start + "/Content/css/style_agent.css' rel='stylesheet' />");
        $('head').append("<link href='" + url_Start + "/Content/css/jquery-ui-1.10.4.custom.min.css' rel='stylesheet' />");


        var bootstrap_js = url_Start + '/Content/js/bootstrap.js';
        loadScript(bootstrap_js, function () { });
       */
        var image_url = url_Start + '/Content/image/bnnr.jpg';
        $('.fill').css("background-image", "url(" + image_url + ")");
    });
</script>
<script type="text/javascript">
        $(function () {
            $('#txtSearchPurchase').keypress(function (e) {

                if (e.which == 13) {
                    $('#purchaseClick').click();
                    return false;    //<---- Add this line
                }
            });

            $('#txtAll').keypress(function (e) {

                if (e.which == 13) {
                    $('#allClick').click();
                    return false;    //<---- Add this line
                }
            });

            $('#txtSearchRent').keypress(function (e) {

                if (e.which == 13) {
                    $('#rentClick').click();
                    return false;    //<---- Add this line
                }
            });

            $('#txtSearchNew').keypress(function (e) {

                if (e.which == 13) {
                    $('#newHomeClick').click();
                    return false;    //<---- Add this line
                }
            });

            $('#txtSearchopenHouse').keypress(function (e) {

                if (e.which == 13) {
                    $('#openHouseClick').click();
                    return false;    //<---- Add this line
                }
            });
        });
</script>

<script type="text/javascript">
    $(function () {
        $('#allClick').click(function (e) {
            var name1 = $("#txtAll").val();
            var name;
            if (name1.indexOf("#") > -1) {
                name = name1.substring(1, name1.length);
                var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + name + '&Command=All&IsMls=true&SubCommand=Purchase&SubTab=Newest';
                window.location.href = url;
            } else {
                name = name1;
                var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + name + '&Command=All&IsMls=false&SubCommand=Purchase&SubTab=Newest';
                window.location.href = url;
            }
        });
    });
</script>

<script>
    $(function () {
        $('#purchaseClick').click(function (e) {
            var name1 = $("#txtSearchPurchase").val();
            var name;
            if (name1.indexOf("#") > -1) {
                name = name1.substring(1, name1.length);
                var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + name + '&Command=SearchPurchase&IsMls=true&SubTab=Newest';
                window.location.href = url;
            } else {
                name = name1;
                var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + name + '&Command=SearchPurchase&IsMls=false&SubTab=Newest';
                window.location.href = url;
            }
        });
    });
</script>

<script>
    $(function () {
        $('#rentClick').click(function (e) {
            var name1 = $("#txtSearchRent").val();
            var name;
            if (name1.indexOf("#") > -1) {
                name = name1.substring(1, name1.length);
                var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + name + '&Command=SearchRent&IsMls=true&SubTab=Newest';
                window.location.href = url;
            } else {
                name = name1;
                var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + name + '&Command=SearchRent&IsMls=false&SubTab=Newest';
                window.location.href = url;
            }
        });
    });
</script>

<script>
    $(function () {
        $('#newHomeClick').click(function (e) {
            var name = $("#txtSearchNew").val();
            var url = url_Start + '@Url.Action("PropertiesListing", "Index")' + '?searchTerm=' + name + '&Command=SearchHome&IsMls=false&SubTab=Newest';
            window.location.href = url;
        });
    });

    $(function () {

        $('#openHouseClick').click(function (e) {
            var name = $("#txtSearchopenHouse").val();
            var url = url_Start + '@Url.Action("Index", "Index/PropertiesListing")' + '?searchTerm=' + encodeURIComponent(name) + '&Command=SearchOpenHouse&IsMls=false&SubTab=Newest';
            window.location.href = url;
        });
    });

</script>

<style>
    .ui-autocomplete {
        max-height: 150px;
        position: absolute;
        overflow-y: auto;
        padding: 10px;
        z-index: 999;
        background-color: #fff;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
    }


    li a::after {
        color: red !important;
    }


    html .ui-autocomplete {
        height: auto;
    }

    li a:hover {
        color: black !important;
        transition: color 0.5s linear; /* vendorless fallback */
        -o-transition: color 0.5s linear; /* opera */
        -ms-transition: color 0.5s linear; /* IE 10 */
        -moz-transition: color 0.5s linear; /* Firefox */
        -webkit-transition: color 0.5s linear; /*safari and chrome */
    }
</style>

<script type="text/javascript">

    function show_visibility(id) {
        var e = document.getElementById(id);

        e.style.display = 'block';

    }
    function hide_visibility(id) {
        var e = document.getElementById(id);

        e.style.display = 'none';
    }

    function showExample(divid, exampleId) {
        var id = "#" + divid;
        $(id).focus(function () {
            show_visibility(exampleId);
        });

        $(id).keypress(function () {
            var currentString = $(id).val();
            //alert(currentString.length);
            if (currentString.length >= 0) {  /*or whatever your number is*/
                hide_visibility(exampleId);
            } else {
                show_visibility(exampleId);
            }
        });
    }


    debugger;
    function loadAutoComplete() {
        $("#txtSearchPurchase").autocomplete({
            source: url_Start + '@Url.Action("GetAutoCompleteDataForPurchase", "Index")'
        });

        $("#txtSearchRent").autocomplete({
            source: url_Start + '@Url.Action("GetAutoCompleteDataForRent", "Index")'
        });

        $("#txtSearchNew").autocomplete({
            source: url_Start + '@Url.Action("GetAutoCompleteDataForHome", "Index")'
        });

        $("#txtSearchopenHouse").autocomplete({
            source: url_Start + '@Url.Action("GetAutoCompleteDataForAll", "Index")'
        });
    }

    $(function () {

        showExample('txtSearchPurchase', 'purchase_example');
        showExample('txtSearchRent', 'rent_example');
        showExample('txtSearchNew', 'new-home_example');
        showExample('txtSearchopenHouse', 'open-house_example');


        $("#txtSearchPurchase").blur(function () {
            $("#purchase_example").hide();
        });
        $("#txtSearchRent").blur(function () {
            $("#rent_example").hide();
        });
        $("#txtSearchNew").blur(function () {
            $("#new-home_example").hide();
        });
        $("#txtSearchopenHouse").blur(function () {
            $("#open-house_example").hide();
        });

        var jquery_ui_js = url_Start + '/js/jquery-ui-1.10.4.custom.min.js';
        loadScript(jquery_ui_js, function () {loadAutoComplete(); });
    });


</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="fill"></div>
        </div>

        <div class="item">
            <div class="fill"></div>
        </div>
        <div class="item">
            <div class="fill"></div>
        </div>
    </div>

    <div class="carousel-caption">
        <h1>
            <span class="home_logo"> <img src="~/Content/image/home_logo.png" /> </span>
            Search Homes SD
        </h1>
        <h2>Your comprehensive community resource to buying, selling, and renting</h2>
        <div class="banner_searcharea">
            <div class="panel panel-default">
                <div id="Tabs" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav" role="tablist">
                        <li class="nav-set1">
                            <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
                                For Sale
                            </a>
                        </li>
                        <li class="nav-set2">
                            <a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">For Rent</a>
                        </li>
                        <li class="nav-set3">
                            <a href="#new" aria-controls="new" role="tab" data-toggle="tab">New Homes</a>
                        </li>
                        <li class="nav-set4">
                            <a href="#open_house" aria-controls="new" role="tab" data-toggle="tab">Open House</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="personal">
                            <span class="serch-area">
                                @Html.TextBox("searchTerm", null, new { id = "txtSearchPurchase", @placeholder = "Search by Address, City, Zip, Neighborhood or MLS." })
                                <div class="purchase_ex" id="purchase_example" style="display:none;">
                                    <h3>Examples</h3>
                                    <ul>
                                        <li><a href="#"><span>City, State</span> San Diego, CA</a></li>
                                        <li><a href="#"><span>ZIP Code</span> 92037</a></li>
                                        <li><a href="#"><span>Address</span> 132 Torrey Pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Street</span> Torrey pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Neighborhood</span> Little Italy, San Diego, CA </a></li>
                                        <li><a href="#"><span>County</span> San Diego Country, CA</a></li>
                                        <li><a href="#"><span>MLS ID</span> #1500578655</a></li>
                                    </ul>
                                    <div class="purchase_ex_footer">To search for an MLS Listing Number, please type a # symbol in front of the number and click search</div>
                                </div>
                            </span>
                            <div class="serch-button">
                                <input type="button" class="search_btt" value="Search" id="purchaseClick" />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="employment">
                            <span class="serch-area_two">
                                @Html.TextBox("searchTerm", null, new { id = "txtSearchRent", @placeholder = "Search by Address, City, Zip, Neighborhood or MLS." })
                                <div class="purchase_ex" id="rent_example" style="display:none;">
                                    <h3>Examples</h3>
                                    <ul>
                                        <li><a href="#"><span>City, State</span> San Diego, CA</a></li>
                                        <li><a href="#"><span>ZIP Code</span> 92037</a></li>
                                        <li><a href="#"><span>Address</span> 132 Torrey Pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Street</span> Torrey pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Neighborhood</span> Little Italy, San Diego, CA </a></li>
                                        <li><a href="#"><span>County</span> San Diego Country, CA</a></li>
                                        <li><a href="#"><span>MLS ID</span> #1500578655</a></li>
                                    </ul>
                                    <div class="purchase_ex_footer">To search for an MLS Listing Number, please type a # symbol in front of the number and click search</div>
                                </div>
                            </span>
                            <div class="serch-button">
                                <input type="button" class="search_btn-two" value="Search" id="rentClick" />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="new">
                            <span class="serch-area_new">
                                @Html.TextBox("searchTerm", null, new { id = "txtSearchNew", @placeholder = "Search by Address, City, Zip, Neighborhood or MLS." })
                                <div class="purchase_ex" id="new-home_example" style="display:none;">
                                    <h3>Examples</h3>
                                    <ul>
                                        <li><a href="#"><span>City, State</span> San Diego, CA</a></li>
                                        <li><a href="#"><span>ZIP Code</span> 92037</a></li>
                                        <li><a href="#"><span>Address</span> 132 Torrey Pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Street</span> Torrey pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Neighborhood</span> Little Italy, San Diego, CA </a></li>
                                        <li><a href="#"><span>County</span> San Diego Country, CA</a></li>
                                        <li><a href="#"><span>MLS ID</span> #1500578655</a></li>
                                    </ul>
                                    <div class="purchase_ex_footer">To search for an MLS Listing Number, please type a # symbol in front of the number and click search</div>
                                </div>
                            </span>
                            <div class="serch-button">
                                <input type="button" class="search_btn-new" value="Search" id="newHomeClick" />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="open_house">
                            <span class="serch-area_open">
                                @Html.TextBox("searchTerm", null, new { id = "txtSearchopenHouse", @placeholder = "Search by Address, City, Zip, Neighborhood or MLS." })
                                <div class="purchase_ex" id="open-house_example" style="display:none;">
                                    <h3>Examples</h3>
                                    <ul>
                                        <li><a href="#"><span>City, State</span> San Diego, CA</a></li>
                                        <li><a href="#"><span>ZIP Code</span> 92037</a></li>
                                        <li><a href="#"><span>Address</span> 132 Torrey Pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Street</span> Torrey pines Rd, La Jolla, CA</a></li>
                                        <li><a href="#"><span>Neighborhood</span> Little Italy, San Diego, CA </a></li>
                                        <li><a href="#"><span>County</span> San Diego Country, CA</a></li>
                                        <li><a href="#"><span>MLS ID</span> #1500578655</a></li>
                                    </ul>
                                    <div class="purchase_ex_footer">To search for an MLS Listing Number, please type a # symbol in front of the number and click search</div>
                                </div>
                            </span>
                            <div class="serch-button">
                                <input type="button" class="search_btn-open" value="Search" id="openHouseClick" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="clear"></div>



