@{
    ViewBag.Title = "Add New Property";
}
@model Repositories.Models.ListHub.ListHubListing
<h2 style="padding-left:1%"> Update Property</h2>

@section css{
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/plugins/iCheck/all.css">

    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/plugins/timepicker/bootstrap-timepicker.min.css">
    <link href="~/bootstrap/css/Custom.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />

}


<section class="content">

    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default">
        @using (Html.BeginForm("EditListhubProperty", "Property", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.MlsNumber)
            @Html.HiddenFor(x => x.MlsName)
            <div class="box-header with-border">
                <h3 class="box-title">Add Your Property Here</h3>
                <div class="form-group pull-right col-lg-1" style="margin-right: 10px;">
                    <input type="button" class="btn btn-primary btn-block " value="Back" onclick="BackListing(this)" data-loading-text="Please wait..." />
                </div>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true)
                        <div id="sucessalert" class="alert alert-success alert-dismissible" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Property Updated Successfully.</h4>
                            <span></span>
                        </div>
                        <div id="failurealert" class="alert alert-danger alert-dismissible" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i> Something went wrong! Please try again later</h4>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Community Name</label>
                            @{
    List<SelectListItem> listCommunityName = new List<SelectListItem>();

    foreach (var item in ViewBag.Communities as IEnumerable<Repositories.Models.Community.Communities>)
    {
        var newItem = new SelectListItem { Text = item.CommunityName, Value = item.CommunityName, Selected = (Model.CommunityName != null ? (Model.CommunityName[0] == item.CommunityName) : false) };
        listCommunityName.Add(newItem);
    }
                    }
                    @Html.DropDownListFor(m => m.CommunityName[0], listCommunityName,"Select", new { @class = "form-control select2", @style = "width: 100%;" })
                           
                            @Html.ValidationMessage("CommunityName", new { @class = "" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Provider Name</label>
                            @{
            List<SelectListItem> listProviderName = new List<SelectListItem>() { };

            foreach (var item in ViewBag.Office as IEnumerable<Repositories.Models.ListHub.Office>)
            {
                var newItem = new SelectListItem { Text = item.CorporateName, Value = item.OfficeId , Selected = (Model.ProviderName != null ? (Model.ProviderName == item.CorporateName) : false) };
                listProviderName.Add(newItem);
            }
                            }
                            @Html.DropDownList("ProviderName", listProviderName,"Select", new { @class = "form-control select2", @style = "width: 100%;" })
                            @Html.ValidationMessage("ProviderName", new { @class = "" })
                        </div>
                    </div><!-- /.col -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Agents</label>
                            @Html.DropDownListFor(m => m.ListingParticipants.Participant.ParticipantId, new List<SelectListItem>(), new { @class = "form-control select2", @style = "width: 100%;" })
                            @*@Html.TextBoxFor(m => m.ProviderURL, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })*@
                            @Html.ValidationMessage("ProviderURL", new { @class = "" })
                            @Html.Hidden("hidden_ParticipantId", Model.ListingParticipants != null ? Model.ListingParticipants.Participant.ParticipantId : "")
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Property Type</label>
                            @{
            List<SelectListItem> listP = new List<SelectListItem>();

            foreach (var item in ViewBag.PropertyType as IEnumerable<Repositories.Models.ListHub.PropertyType>)
            {
                var newItem = new SelectListItem { Text = item.Text, Value = item.Text, Selected = (Model.PropertyType != null? (Model.PropertyType.Text == item.Text) : false) };
                listP.Add(newItem);
            }
                            }
                            @Html.DropDownListFor(m => m.PropertyType.Text, listP, new { @class = "form-control select2", @style = "width: 100%;" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Property Type Description</label>
                            @{
            List<SelectListItem> listPD = new List<SelectListItem>();

            foreach (var item in ViewBag.PropertyTypeDesc as IEnumerable<Repositories.Models.ListHub.PropertyType>)
            {
                var newItem = new SelectListItem { Text = item.OtherDescription, Value = item.OtherDescription, Selected = (Model.PropertyType != null ? (Model.PropertyType.OtherDescription == item.OtherDescription) : false) };
                listPD.Add(newItem);
            }
                            }
                            @Html.DropDownListFor(m => m.PropertyType.OtherDescription, listPD, new { @class = "form-control select2", @style = "width: 100%;" })
                        </div>
                    </div><!-- /.col -->

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Property Sub Type</label>
                            @{
            List<SelectListItem> list = new List<SelectListItem>();

            foreach (var item in ViewBag.PropertySubType as IEnumerable<Repositories.Models.ListHub.PropertySubType>)
            {
                var newItem = new SelectListItem { Text = item.Text, Value = item.Text, Selected = (Model.PropertySubType != null ? (Model.PropertySubType.Text == item.Text) : false) };
                list.Add(newItem);
            }
                            }
                            @Html.DropDownListFor(m => m.PropertySubType.Text, list, new { @class = "form-control select2", @style = "width: 100%;" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Property Sub Type Description</label>
                            @{
            List<SelectListItem> listSD = new List<SelectListItem>();

            foreach (var item in ViewBag.PropertySubTypeDesc as IEnumerable<Repositories.Models.ListHub.PropertySubType>)
            {
                var newItem = new SelectListItem { Text = item.OtherDescription, Value = item.OtherDescription, Selected = (Model.PropertySubType != null ? (Model.PropertySubType.OtherDescription == item.OtherDescription) : false) };
                listSD.Add(newItem);
            }
                            }
                            @Html.DropDownListFor(m => m.PropertySubType.OtherDescription, listSD, new { @class = "form-control select2", @style = "width: 100%;" })
                        </div>
                    </div><!-- /.col -->

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                            @Html.ValidationMessage("Address.City", new { @class = "" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>State</label>
                            @Html.TextBoxFor(m => m.Address.StateOrProvince, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                            @Html.ValidationMessage("Address.StateOrProvince", new { @class = "" })
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.box-body -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Street Address</label>
                            @Html.TextBoxFor(m => m.Address.FullStreetAddress, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                            @Html.ValidationMessage("Address.FullStreetAddress", new { @class = "" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Zip Code</label>
                            @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                            @Html.ValidationMessage("Address.PostalCode", new { @class = "" })
                        </div>
                    </div><!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Price</label>
                            @Html.TextBoxFor(m => m.ListPrice.Text, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Bed Room</label>
                            @Html.DropDownListFor(model => model.Bedrooms, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "No Bedroom" },
                       new { value = 1 , text = "1 Bedroom"  },
                       new { value = 2 , text = "2 Bedroom" },
                       new { value = 3 , text = "3 Bedroom" },
                       new { value = 4 , text = "4 Bedroom" },
                       new { value = 5 , text = "5 Bedroom" },
                       new { value = 6 , text = "6 Bedroom" }
                    },
                  "value", "text"), new { @class = "form-control select2", @style = "width: 100%;" })

                        </div>
                    </div>

                    <!-- /.col -->
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Full BathRoom</label>
                            </div>
                            <div class="input-group spinner">
                                @Html.TextBoxFor(m => m.FullBathrooms, new { @class = "form-control", Value = Model.FullBathrooms, @style = "height: 34px;" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" id="fb_up"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" id="fb_dw"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Half BathRoom</label>
                            </div>
                            <div class="input-group spinner">
                                @Html.TextBoxFor(m => m.HalfBathrooms, new { @class = "form-control", Value = Model.HalfBathrooms, @style = "height: 34px;" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" id="hb_up"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" id="hb_dw"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label>ThreeQuarter BathRoom</label>
                            </div>
                            <div class="input-group spinner">
                                @Html.TextBoxFor(m => m.ThreeQuarterBathrooms, new { @class = "form-control", Value = Model.ThreeQuarterBathrooms, @style = "height: 34px;" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" id="tb_up"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" id="tb_dw"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.col -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>OneQuarter BathRoom</label>
                            </div>
                            <div class="input-group spinner">
                                @Html.TextBoxFor(m => m.OneQuarterBathrooms, new { @class = "form-control", Value = Model.OneQuarterBathrooms, @style = "height: 34px;" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" id="ob_up"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" id="ob_dw"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Partial BathRoom</label>
                            </div>
                            <div class="input-group spinner">
                                @Html.TextBoxFor(m => m.PartialBathrooms, new { @class = "form-control", Value = Model.PartialBathrooms, @style = "height: 34px;" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" id="pb_up"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" id="pb_dw"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Listing Status</label>
                            @{
            List<SelectListItem> listSt = new List<SelectListItem>();

            foreach (var item in ViewBag.ListingStatus as IEnumerable<String>)
            {
                var newItem = new SelectListItem { Text = item, Value = item, Selected = (Model.ListingStatus == item) };
                listSt.Add(newItem);
            }
                            }
                            @Html.DropDownListFor(m => m.ListingStatus, listSt, new { @class = "form-control select2", @style = "width: 100%;" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Listing Description</label>
                            @Html.TextAreaFor(m => m.ListingDescription, new { @class = "form-control", @rows = 3, @placeholder = "Enter ...", @style = "height: 34px;" })
                        </div>
                    </div><!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Lot Size - Acres</label>
                            @Html.TextBoxFor(m => m.LotSize.Text, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Living Area</label>
                            @Html.TextBoxFor(m => m.LivingArea, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                        </div>
                    </div><!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Year Built</label>
                            <div class="input-group spinner">
                                @Html.TextBoxFor(m => m.YearBuilt, new { @class = "form-control", Value = 2000, @placeholder = "Enter ...", @style = "height: 34px;" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" id="yb_up"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" id="yb_dw"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Listing Title</label>
                            @Html.TextBoxFor(m => m.ListingTitle, new { @class = "form-control", @placeholder = "Enter ...", @style = "height: 34px;" })
                        </div>
                    </div><!-- /.col -->
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group pull-right">
                            <input type="submit" class="btn btn-primary btn-block " value="Save" />
                        </div><!-- /.form-group -->

                    </div>
                </div>
            </div><!-- /.box -->
        }
    </div>

</section><!-- /.content -->
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js?cdv=1"></script>

    <script type="text/javascript">
        (function ($) {
            $('#fb_up').on('click', function () {
                $('#FullBathrooms').val(parseInt($('#FullBathrooms').val(), 10) + 1);
            });
            $('#fb_dw').on('click', function () {
                $('#FullBathrooms').val(parseInt($('#FullBathrooms').val(), 10) - 1);
            });
        })(jQuery);

        (function ($) {
            $('#hb_up').on('click', function () {
                $('#HalfBathrooms').val(parseInt($('#HalfBathrooms').val(), 10) + 1);
            });
            $('#hb_dw').on('click', function () {
                $('#HalfBathrooms').val(parseInt($('#HalfBathrooms').val(), 10) - 1);
            });
        })(jQuery);

        (function ($) {
            $('#tb_up').on('click', function () {
                $('#ThreeQuarterBathrooms').val(parseInt($('#ThreeQuarterBathrooms').val(), 10) + 1);
            });
            $('#tb_dw').on('click', function () {
                $('#ThreeQuarterBathrooms').val(parseInt($('#ThreeQuarterBathrooms').val(), 10) - 1);
            });
        })(jQuery);

        (function ($) {
            $('#ob_up').on('click', function () {
                $('#OneQuarterBathrooms').val(parseInt($('#OneQuarterBathrooms').val(), 10) + 1);
            });
            $('#ob_dw').on('click', function () {
                $('#OneQuarterBathrooms').val(parseInt($('#OneQuarterBathrooms').val(), 10) - 1);
            });
        })(jQuery);

        (function ($) {
            $('#pb_up').on('click', function () {
                $('#PartialBathrooms').val(parseInt($('#PartialBathrooms').val(), 10) + 1);
            });
            $('#pb_dw').on('click', function () {
                $('#PartialBathrooms').val(parseInt($('#PartialBathrooms').val(), 10) - 1);
            });
        })(jQuery);

        (function ($) {
            $('#yb_up').on('click', function () {
                $('#YearBuilt').val(parseInt($('#YearBuilt').val(), 10) + 1);
            });
            $('#yb_dw').on('click', function () {
                $('#YearBuilt').val(parseInt($('#YearBuilt').val(), 10) - 1);
            });
        })(jQuery);

        (function ($) {
            $('#FullBathrooms').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#HalfBathrooms').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#ThreeQuarterBathrooms').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#OneQuarterBathrooms').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#PartialBathrooms').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

            $('#YearBuilt').keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        })(jQuery);
    </script>


    <script type="text/javascript">
        (function ($) {
            debugger;
            if ('@ViewBag.success' == '1') {
                $("#sucessalert").show();
                $('#sucessalert').delay(5000).fadeOut(400);
            }
            else if ('@ViewBag.success' == '0') {
                $("#failurealert").show();
                $('#failurealert').delay(5000).fadeOut(400);
            }


            $('#ProviderName').change(function () {
                populateagent();
            });

            
            
        })(jQuery);

        $(window).load(function () {
            debugger;
            var _ProviderName = '@Model.ProviderName';
            $("#ProviderName option:selected")
            //$("select[name^='ProviderName'] option[text='" + _ProviderName + "']").attr("selected", "selected");
            $('#ProviderName option').map(function () {
                if ($(this).text() == _ProviderName) return this;
            }).attr('selected', 'selected');
            setTimeout(function () {
                populateagent();
            }, 3000);
            
        });

        function populateagent() {
            debugger;
            if ($.trim($("#ProviderName option:selected").val()).length != 0) {

                $.ajax({
                    url: "/Property/GetOfficeAgents?officeid=" + encodeURIComponent($("#ProviderName option:selected").val()),
                    type: "GET",
                    contentType: 'application/json',
                    dataType: "json",
                    success: function (data) {
                        debugger;
                        $('#ListingParticipants_Participant_ParticipantId').empty();
                        $.each(data, function (key, value) {
                            $('#ListingParticipants_Participant_ParticipantId').append($('<option></option>').val(value.ParticipantId).html(value.FirstName + ' ' + value.LastName));
                        });

                        var participantID = $('#hidden_ParticipantId').val();
                        $('select[id="ListingParticipants_Participant_ParticipantId"]').find("option[value='" + participantID + "']").attr("selected", true);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    },
                    compete: function () {

                    }
                });
            }
        }

        function BackListing(btn) {
            window.location.href = "/property/purchase-property-listing?liId=purchaseList";
        }
    </script>

}