@model Repositories.Models.ListHub.ListHubListing

@{
    ViewBag.Title = "Testing";
}

<h2>Testing</h2>

<div>
    <h4>ListHubListing</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListingURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeadRoutingEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadRoutingEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscloseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscloseAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MlsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MlsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MlsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MlsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MlsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MlsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivingArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivingArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThreeQuarterBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThreeQuarterBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HalfBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HalfBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneQuarterBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneQuarterBathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartialBathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartialBathrooms)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
